@model List<bookstore.Entities.Concrete.Product>

    <div class="row">
        @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@(product.Title)</h5>
                    <p class="card-text">@(product.Genre)</p>
                    <p class="card-text">@(product.Author)</p>
                    <p class="card-text badge">@(product.Price)</p>

                    @Html.ActionLink("Sepete Ekle", "AddCart", "Cart", new { id = product.Id }, new { @class = "btn btn-primary" })
                    
                    
                   
                </div>
            </div>
         </div>
        }
    </div>


     

    

    





















































@*
@*@*
@*@model IEnumerable<bookstore.Entities.Concrete.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="text-center">Ürünler</h2>
    @foreach (var item in Model){
        <div class="col-md-4" style="border: 2px solid black">
            <h3>@item.Title</h3>
        </div>
            <div>
                <div class="col-md-4" style="text-align: left">
                    <b>@item.Genre</b>
            </div>
        </div>

        <div class="col-md-8" style="font-size:18px; border-top: 2px solid maroon; padding: 2px">
        <b>@item.Price</b>
        </div>
        <div class="col-md-8" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
            <input type="button" name="AddToCart" value="Sepete Ekle" class="btn btn-primary" itemid="@item.Id" id="btnAddToCart" onclick="location.href=" />
        </div>
    }
</div>

<@*script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        alert(itemId);
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Product/Index',
            success: funtion(data){

        },
            error: function () {
                alert("Bir yanlışlık oldu.");
            }
            })
        }
</script>
*@





@*<h1>Ürünler</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                <a asp-action="ProductDetails" asp-route-id="@item.Id">Ürün Detayları</a> |
                <a asp-action="AddToCart" asp-route-id="@item.Id">Sepete Ekle</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
